.ras-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
  gap: 60px;
}


.raspery {
  width: 400px;
  height: auto;
  object-fit: contain;
}


.text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 40px;
  font-weight: bold;
}

.heading h2 {
  margin: 0;
}

.heading .red {
  color: red;
}

.EA, .FLE {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.heart, .puzzle {
  width: 60px;
  height: 60px;
  background-color: #c2cad3;
  padding: 12px;
  border-radius: 10px;
  object-fit: contain;
}


.EA h5, .FLE h5 {
  font-size: 18px;
  margin: 0 0 5px 0;
  color: #333;
}


.EA p, .FLE p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heading {
    justify-content: center;
  }

  .EA, .FLE {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  .EA .text-block,
  .FLE .text-block {
    display: flex;
    flex-direction: column;
  }
  

  .EA h5, .FLE h5,
  .EA p, .FLE p {
    text-align: center;
  }
}
