/* NavBar.css */
.container {
    width: 100%;
    background: #EDF2FA;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  /* Left: Logo */
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    
  }
  
 
  
  .nav-links {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-grow: 1;
    margin-top: 12px; 
  }
  
  
  .nav-links li {
    list-style: none;
  }
  .nav-links li .nav-btn {
    list-style: none;
  }
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .logo1 {
    width: 60px; 


    height: auto;
  }
  
  .logo2 {
    width: 120px;
    height: auto;

  }
  
  
  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .auth-buttons {
    display: flex;
    gap: 6px;
    flex-shrink: 0;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      gap: 16px;
      font-size: 14px;
    }
  
    .btn {
      padding: 6px 12px;
      font-size: 13px;
    }
  
    .logo1 {
      width: 28px;
    }
  
    .logo2 {
      width: 70px;
    }
  }
  
